:root {
    --primary-bg-color: #232323;
    --secondary-bg-color: #5d5d5d;
    --primary-text-color: #ffff;
    --secondary-text-color: #c6c5c5;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    background-color: var(--primary-bg-color);
}

.header {
    padding: 15px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    gap: .3rem;
}

.header .label {
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

.header .icon {
    color: var(--primary-text-color);
}

.hero {
    height: 40rem;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}
.hero .message {
    width: 50%;
    padding-right: 10%;
}
.hero .icon {
    width: 30%;
}

@media (max-width: 700px) {
    .hero {
      flex-direction: column;
      flex: auto;
      gap: 4rem;
      height: 100%;
    }
    .hero .message {
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .hero .icon {
        flex-shrink: 1;
    }
    .down-arrow {
        visibility: hidden;
    }
  }

.message .greet,
.message .designation {
    font-size: 2rem;
    color: var(--secondary-text-color);
}

.name text {
    stroke-width: .2;
    animation: text-write 4s forwards;
}

.hero .icon svg {
    stroke: var(--secondary-text-color);
    stroke-dashoffset: 10000;
    stroke-dasharray: 10000;
    animation: stroke-write 6s ease-in-out forwards;
}

.down-arrow {
    cursor: pointer;
    width: 30px;
    fill: var(--primary-text-color);
    opacity: 0;
    animation: arrow-down .8s linear 3s infinite alternate;
}

.center-container {
    width: 100%;
    display: grid;
    justify-items: center;
}

@keyframes text-write {
    0% {
        stroke: var(--primary-text-color);
        stroke-dashoffset: 25% 0;
        stroke-dasharray: 0 100;
    }

    100% {
        stroke: var(--primary-text-color);
        stroke-dashoffset: -25% 0;
        stroke-dasharray: 100 0;
        fill: var(--primary-text-color);
    }
}

@keyframes stroke-write {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes arrow-down {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 12px, 0);
    }
}