:root {
    --primary-bg-color: #232323;
    --secondary-bg-color: #5d5d5d;
    --primary-text-color: #ffff;
    --secondary-text-color: #c6c5c5;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    background-color: var(--primary-bg-color);
}

.header {
    height: 4rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: var(--primary-bg-color);
    display: flex;
    gap: .3rem;
}

.header .label {
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

.header .icon {
    color: var(--primary-text-color);
}

.hero {
    height: 40rem;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.message .greet,
.message .designation {
    font-size: 2.5rem;
    color: var(--secondary-text-color);
}

.name text {
    stroke-width: .4;
    animation: text-write 6s forwards;
}

.hero .icon svg {
    scale: 3;
    stroke: var(--secondary-text-color);
    stroke-dashoffset: 10000;
    stroke-dasharray: 10000;
    animation: stroke-write 6s ease-in-out forwards;
}

.downArrow {
    cursor: pointer;
    width: 30px;
    position: relative;
    left: 50%;
    fill: var(--primary-text-color);
    opacity: 0;
    animation: arrowDown .8s linear 4s infinite alternate;
}

@keyframes text-write {
    0% {
        stroke: var(--secondary-text-color);
        stroke-dashoffset: 25% 0;
        stroke-dasharray: 0 100;
    }

    80% {
        stroke: var(--secondary-text-color);
        stroke-dashoffset: -25% 0;
        stroke-dasharray: 100 0;
    }
    
    100% {
        fill: var(--primary-text-color);
    }
}

@keyframes stroke-write {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes arrowDown {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 12px, 0);
    }
}